body {
  font-size: 14px;
  overflow: hidden;
}

:root {
  --primary-color: rgb(114, 176, 216);
  --deep-blue-color: rgb(0, 111, 178);
  --grey-color: rgb(247, 247, 247);
  --grey-font-color: rgb(150, 151, 166);
  --van-search-left-icon-color: var(--primary-color) !important;
}

.grey-bottom-line {
  border: 1px solid var(--grey-color);
}
.section {
  padding: 12px 16px;
}

.clearfix::after,
.clearfix::before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
